@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    
}
.eventcard {
    text-align: left;
    margin: 10px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.25s 0s;
}

.eventcard:hover {
    background-color: rgb(183, 255, 183);
    transition: background-color 0.25s 0s;
    
}

.eventcard p{
    margin: 0px;
}
.searchbtn{
    width:33px;
    height:33px;
    float: right;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: background-color 0.25s 0s;
}
.searchbtn:hover{
    background-color: rgb(211, 211, 211);
    transition: background-color 0.25s 0s;
}

.sbClicked{
    background-color: rgb(167, 167, 167);
    transition: background-color 0.25s 0s;
}


.SearchMenuDefault{
    /* text-align: right; */
    background-color: rgb(240, 240, 240);
    width: 332px;
    height: 0;
    /* float: right; */
    position: fixed;
    transition: all .20s;
    top: 9px;
    right: 51px;
    overflow: hidden;
    opacity: 0;
}

.SearchMenuOpened{
    
    /* text-align: right; */
    display: inline-block;
    position: fixed;
    height: 352px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    transition: opacity .20s, height .20s, top .20s;
    top: 49px;
}




