@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    
}
.eventcard {
    text-align: left;
    margin: 10px;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.47);
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.25s 0s;
}

.eventcard:hover {
    background-color: rgb(183, 255, 183);
    transition: background-color 0.25s 0s;
    
}

.eventcard p{
    margin: 0px;
}
.searchbtn{
    width:33px;
    height:33px;
    float: right;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: background-color 0.25s 0s;
}
.searchbtn:hover{
    background-color: rgb(211, 211, 211);
    transition: background-color 0.25s 0s;
}