@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.app-ctrls{
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 24px;
    padding: 12px;
    min-height: 100px;
    width: 148px;
    left: 45px;
    text-align: center;
    float: left;
}

.scoreDisplay{
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 24px;
    display: inline-block;
    width: 600px;
    height: 374px;
    padding: 10px;
}
.app-main{
    padding-top: 36px;
}
.tblCell{
    padding:9px;
}
.kenston-card{
    background-color: #ffffff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 24px;
    padding: 12px;
    display: inline-block;
    min-width: 160px;
    min-height: 160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.tscore{
    font-size: 80px;
    margin:23px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 0px;
}