@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 .ins{
     margin: 6px;
     border: 1px solid gray;
     border-radius: 2px;
 }

header{
    font-family: 'Open-Sans', sans-serif;
    background-color: #0085CA;
    padding: 15px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.53);
    border-radius: 5px;
}
#ctrlPanel{
    border: 1px solid rgb(80, 80, 80);
    margin-top: 70px;
    height: 120px;
    display: inline-block;
    height: auto;
    width: -webkit-fill-available;
    padding-bottom: 14px;
}

#loginas{
    margin-left: 10px;
    font-family: 'Open-Sans', sans-serif;
}

/*Modal stuff*/
.Modal{
    font-family: 'Open-Sans', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.ModalContents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.closeBtn{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: red;
}
.closeBtn:hover{
    background-color: rgb(255, 62, 62);
}

.ModalOpened{
    z-index: 8888;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}

tr, th, td{
    border: 1px solid black;
    padding: 4px;
}

th{
    padding-right: 56px;
}

#evTbl{
    border-collapse: collapse;
}
.launch{
    border: none;
    background-color: rgb(84, 194, 89);
    padding: 3px;
    color: white;
    border-radius: 3px;
    transition: background-color .25s; 
}
.launch:hover{
    background-color: rgb(0, 216, 11);
    transition: background-color .25s; 
}
.launch:active{
    background-color: rgb(3, 143, 10);
 
}
.btn:focus {
    outline: none;
  }